.about {
    left: 25%;
    position: absolute;
    max-width: 50%;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 2vh;
    padding: 10px;
}

li {
    margin-top: 1vh;
}

.ddd {
    padding: 1vh;
    text-decoration: none;
}

.ddd i {
    color: #fff;
    transition: 0.5s;
}

.ddd span {
    color: #003cff;
    transition: 0.5s;
    margin-left: -1vh;
}

.ddd:hover i {
    color: #003cff;
    transition: 0.5s;
}

.ddd:hover span {
    color: #fff;
}