@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
    background-color: #161616;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
}

@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40%/70% 30% 70% 30%;
    }

    100% {
        border-radius: 40% 60%;
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@keyframes moving {
    0% {
        transform: translateY(-2px);
        transform: translateX(-2px);
        rotate: -0.2deg;
    }

    100% {
        transform: translateY(2px);
        transform: translateX(2px);
        rotate: 0.2deg;
    }
}

.bubble::before,
.bubble::after {
    content: "";
    opacity: 25%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg, #1c008d, #1c009b);
    will-change: border-radius, transform;
}

.bubble::before {
    animation: morph 15s linear infinite alternate, spin 20s linear infinite;
}

.bubble::after {
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
}

.bubble_one::before,
.bubble_two::before,
.bubble_three::before,
.bubble_four::before,
.bubble_one::after,
.bubble_two::after,
.bubble_three::after,
.bubble_four::after {
    width: 50vmax;
    height: 50vmax;
    transform-origin: center;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .75);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}


.login-box img {
    width: 25%;
    padding: 10px 0;
    position: relative;
    margin: 0 0 30px;
    animation: moving 2s ease-in-out infinite alternate;
}

.login-box .avatar {
    overflow: hidden;
    left: calc(50% - 50px);
    align-items: center;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #4234ff;
    font-size: 12px;
}

.login-box form input[type="submit"] {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #4234ff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: transparent;
    border: none;
}

.login-box input[type="submit"]:hover {
    background: #1303f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #1303f4,
    0 0 25px #1303f4,
    0 0 50px #1303f4,
    0 0 100px #1303f4;
}

.login-box input[type="submit"] span {
    position: absolute;
    display: block;
}

.login-box input[type="submit"] span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #1303f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box input[type="submit"] span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #1303f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box input[type="submit"] span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #1303f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box input[type="submit"] span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #1303f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}