@charset "UTF-8";
        .users table {
            width: 100%;
            border-collapse: collapse;
        }

        .users th, .users td {
            border: 1px solid #ddd;
            padding: 8px;

        }

        .users th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
             background:  #007CFF;
            color: white;
        }

        .title {
            text-align: center !important;
        }

        .users table {
            width: 100%;
        }

        .chart-container-header table {
                    width: 100%;
        }

        .table {
            background-color: transparent;
            color: white;
        }

        .table th, .table td {
            color: white;
        }