@charset "UTF-8";
        .users table {
            width: 100%;
            border-collapse: collapse;
        }

        .users th, .users td {
            border: 1px solid #ddd;
            padding: 8px;

        }

        .users th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
             background:  #007CFF;
            color: white;
        }

        .title {
            text-align: center !important;
        }

        .users table {
            width: 100%;
        }

        .chart-container-header table {
                    width: 100%;
        }

        .table {
            background-color: transparent;
            color: white;
        }

        .table th, .table td {
            color: white;
        }

        .custom-button {
            background-color: #495057; /* Cambia el color de fondo según tus preferencias */
            color: white; /* Cambia el color del texto según tus preferencias */
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 10px; /* Añade bordes redondeados al botón */
        }

        .custom-button:hover {
            background-color: green; /* Cambia el color de fondo al pasar el ratón según tus preferencias */
            color: black; /* Cambia el color del texto al pasar el ratón según tus preferencias */
        }

        .download-button {
            background-color: green;
        }

        .download-button:hover {
            background-color: green;
        }

        .delete-button {
            background-color: #495057;
        }

        .delete-button:hover {
            background-color: red;
        }