<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Asegúrate de que la ruta a tu archivo CSS es correcta -->
    <link rel="stylesheet" th:href="@{/static/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/static/css/table.css}">
    <link rel="stylesheet" th:href="@{/static/css/custom-form.css}">
</head>
<body class="light-theme dark-theme">
<script src="/static/js/dashboard.js"></script>
<script src="/static/js/table.js"></script>
<div class="app-container">
    <div class="app-left">
        <button class="close-menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
        </button>
        <div class="app-logo">
            <a href="/">
                <img src="/static/img/main_logo.png" alt="Main Logo">
            </a>
        </div>
        <ul class="nav-list">
            <li class="nav-list-item">
                <a class="nav-list-link" href="/dashboard">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns">
                        <path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18" />
                    </svg>
                    Dashboard
                </a>
            </li>
            <li class="nav-list-item">
                <a class="nav-list-link" href="/dashboard/customers">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase">
                        <rect x="2" y="7" width="20" height="14" rx="2" ry="2" />
                        <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16" />
                    </svg>
                    Customers
                </a>
            </li>
            <li class="nav-list-item">
                <a class="nav-list-link" href="/dashboard/orders">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                        <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z" />
                        <polyline points="13 2 13 9 20 9" />
                    </svg>
                    Orders
                </a>
            </li>
            <li class="nav-list-item">
                <a class="nav-list-link" href="/dashboard/products">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                        <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z" />
                        <polyline points="13 2 13 9 20 9" />
                    </svg>
                    Products
                </a>
            </li>
            <li class="nav-list-item">
                <a class="nav-list-link" href="/dashboard/categories">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                        <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z" />
                        <polyline points="13 2 13 9 20 9" />
                    </svg>
                    Categories
                </a>
            </li>
            <li class="nav-list-item active">
                <a class="nav-list-link" href="/dashboard/users">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
                        <circle cx="9" cy="7" r="4" />
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
                        <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                    </svg>
                    Users
                </a>
            </li>
            <li class="nav-list-item">
                <a class="nav-list-link" href="/dashboard/logout">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart">
                        <path d="M21.21 15.89A10 10 0 1 1 8 2.83" />
                        <path d="M22 12A10 10 0 0 0 12 2v10z" />
                    </svg>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <div class="app-main">
        <div class="main-header-line">
            <h1>Users List</h1>
        </div>
        <div class="chart-row two">
            <div class="chart-container-wrapper big">
                <div class="chart-container">
                    <div class="chart-container-header">
                        <form th:action="@{/dashboard/addUser}" th:object="${user}" method="post">
                            <div class="form-group custom-form">
                                <label for="username">Username</label>
                                <input type="text" th:field="*{username}" class="form-control" id="username">
                            </div>
                            <div class="form-group custom-form">
                                <label for="email">Email</label>
                                <input type="email" th:field="*{email}" class="form-control" id="email">
                            </div>
                            <div class="form-group custom-form">
                                <label for="role">Role</label>
                                <select th:field="*{role}" class="form-control" id="role">
                                    <option value="1">Admin</option>
                                    <option value="2">User</option>
                                </select>
                            </div>
                            <!-- Añade aquí más campos según sea necesario -->
                            <button type="submit" class="btn btn-primary custom-button">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>