<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voltic Studios Shop</title>
    <link rel="stylesheet" href="https://cdn.joordih.lol/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/menu.css}">
    <link rel="stylesheet" th:href="@{/static/css/popup.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<th:block th:replace="fragments/menu :: menuFragment(categories=${categories})"></th:block>

<div id="container">
    <th:block th:replace="fragments/menu :: shoppingCartFragment"></th:block>

    <th:block th:if="${cartItems.size() == 0}">
        <div class="content">
            <h3>Your cart is empty</h3>
        </div>
    </th:block>
    <!-- ${checkoutPaySuccess} -->
    <th:block th:if="${checkoutPaySuccess}">
        <div class="content">
            <h3>Payment Successful!</h3>
        </div>
    </th:block>

    <div th:each="cartItem : ${cartItems}">
        <div class="content">
            <img th:src="${cartItem.image}" alt="logo" id="product-image">
            <div class="text-align
            -left">
                <h2 th:text="${cartItem.name}"></h2>
                <p id="price" th:text="'Price: ' + ${cartItem.price} + '€'"></p>
                <button class="btn" th:onclick="'removeFromCart(' + ${cartItem.id} + ')'"
                        th:text="'Remove from cart'"></button>
            </div>
        </div>
    </div>

    <div class="content cnt">
        <div class="text-align
        -left">
            <h2>Total</h2>
            <p id="totalprice" th:text="'Price: ' + ${totalAmount} + '€'"></p>
            <button class="btn" th:onclick="'checkout()'" th:text="'Checkout'"></button>
        </div>
    </div>
</div>
<script th:src="@{/static/js/main.js}"></script>
<script>
    function removeFromCart(id) {
        location.href = "/api/cart/remove/" + id;
    }

    function checkout() {
        location.href = "/api/cart/checkout";
    }
</script>
</body>

</html>