<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voltic Studios Shop</title>
    <link rel="stylesheet" href="https://cdn.joordih.lol/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/menu.css}">
    <link rel="stylesheet" th:href="@{/static/css/popup.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<th:block th:replace="fragments/menu :: menuFragment(categories=${categories})"></th:block>

<div id="container">
    <div class="content">
        <h3>Checkout payment</h3>
        <span th:if="${checkoutPaySuccess}"><h3 class="bg-info">Payment
                    Successful!</h3></span>

        <form th:action="@{/api/create-payment-intent}" method="POST">
            <input type="hidden" name="amount" th:value="${customer.getUser().getCart().totalAmount}"/>
            <script src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    th:data-key="${apiKey}"
                    th:data-amount="${customer.getUser().getCart().totalAmount}" data-name="Voltic Studios"
                    data-description=""
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto" data-currency="eur">
            </script>
        </form>

    </div>
</div>
<script th:src="@{/static/js/main.js}"></script>
<script>
    document.getElementById('submit').innerHTML = '<i class="fa-brands fa-paypal"></i> Pay with PayPal';
</script>
</body>

</html>