<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voltic Studios</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.joordih.lol/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="mov-title">
        <h1>10% DISCOUNT WITH CODE: <span>10VOLTIC</span></h1>
    </div>
    <div id="login-shopping-cart">
        <a href="#" th:href="@{/login}"><i class="fa-solid fa-user"></i></a>
        <a href="#"><i
                class="fa-solid fa-shopping-cart"></i></a>
    </div>
    <div id="navigator">
        <ul>
            <li class="active">
                <i class="fa-solid fa-house"></i>
                <a href="#">Home</a>
            </li>
            <li>
                <i class="fas fa-book"></i>
                <a href="#" onclick="alert('Apartado en desarrollo.\n¡Vuelva más tarde!')">About us</a>
            </li>
            <li>
                <i class="fas fa-store"></i>
                <a href="#" onclick="alert('Apartado en desarrollo.\n¡Vuelva más tarde!')">Store</a>
            </li>
        </ul>
    </div>

    <div id="header">
        <img th:src="@{/static/img/main_logo.png}" alt="Logo">
    </div>

    <!--
            <div class="grid-container">
        <div class="grid-item">
            <h1 class="title">
                <i class="fas fa-quote-left"></i>
                VOLTIC STUDIOS
            </h1>
            <h2 class="subtitle">
                Exceptional scripts crafted for your FiveM server!
            </h2>
            <p class="description">
                <span>✓ TRUSTED BY OVER 7000+ CUSTOMERS</span>
                <span>✓ ESX / QBCORE COMPATIBILITY</span>
                <span>✓ SUPERIOR SCRIPTS</span>
                <span>✓ ESCROWED AND UNLOCKED AVAILABLE</span>
            </p>
            <a href="https://fivem.net" class="button">
                <i class="fa-solid fa-circle-info"></i>
                <span>ABOUT FIVEM</span>
            </a>
            <a href="https://overworld.es" class="button">
                <i class="fa-solid fa-server"></i>
                <span>OFFICIAL SERVER</span>
            </a>
        </div>
    </div>
    -->

    <h1 class="package-title">Trending packages</h1>
    <div class="packages">
        <div class="package">
            <img th:src="@{/static/img/esx.jpg}" alt="ESX Logo">
            <h2>ESX</h2>
            <p>ESX is a framework for building roleplay servers. It is the most popular framework for FiveM servers.</p>
            <a href="https://fivem.net" class="button">
                <i class="fa-solid fa-sack-dollar"></i>
                <span>BUY ESX</span>
            </a>
        </div>
        <div class="package">
            <img th:src="@{/static/img/qbcore.png}" alt="qbCore Logo">
            <h2>QBCore</h2>
            <p>QBCore is a framework for building roleplay servers. It is the most popular framework for FiveM servers.
            </p>
            <a href="https://fivem.net" class="button">
                <i class="fa-solid fa-sack-dollar"></i>
                <span>BUY QBCORE</span>
            </a>
        </div>
        <div class="package">
            <img th:src="@{/static/img/volticframework.png}" alt="vOLTIC Logo">
            <h2>Custom framework</h2>
            <p>Voltic is a framework for building roleplay servers. It is the most popular framework for FiveM servers.
            </p>
            <a href="https://fivem.net" class="button">
                <i class="fa-solid fa-sack-dollar"></i>
                <span>BUY VOLTIC FRAMEWORK</span>
            </a>
        </div>
    </div>

    <h1 class="package-title">FAQ</h1>
    <div id="faq">
        <div id="display-all">
            <span @click="displayAll">Display all <i class="fa-solid fa-chevron-down"></i></span>
        </div>
        <div class="faq-item">
            <h2>What is FiveM? <i class="fa-solid fa-chevron-down"  @click="faqItemsToggle"></i></h2>
            <p class="inactive">FiveM is a modification for Grand Theft Auto V enabling you to play multiplayer on customized dedicated
                servers.</p>
        </div>
        <div class="faq-item">
            <h2>What is ESX? <i class="fa-solid fa-chevron-down"  @click="faqItemsToggle"></i></h2>
            <p class="inactive">ESX is a framework for building roleplay servers. It is the most popular framework for FiveM servers.</p>
        </div>
        <div class="faq-item">
            <h2>What is QBCore? <i class="fa-solid fa-chevron-down"  @click="faqItemsToggle"></i></h2>
            <p class="inactive">QBCore is a framework for building roleplay servers. It is the most popular framework for FiveM servers.
            </p>
        </div>
        <div class="faq-item">
            <h2 class="faq-toggle">What is Voltic Framework? <i class="fa-solid fa-chevron-down"  @click="faqItemsToggle"></i></h2>
            <p class="inactive">Voltic is a framework for building roleplay servers. It is the most popular framework for FiveM servers.
            </p>
        </div>
    </div>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>