<head xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Asegúrate de que la ruta a tu archivo CSS es correcta -->
    <link rel="stylesheet" th:href="@{/static/css/dashboard.css}">
</head>
<body class="light-theme dark-theme">
<script src="//static/js/dashboard.js"></script>
<div class="app-container">
    <div class="app-left">
        <button class="close-menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
        </button>
        <div class="app-logo">
            <a href="/">
                <img src="/static/img/main_logo.png" alt="Main Logo">
            </a>
        </div>
        <ul class="nav-list">
            <li class="nav-list-item active">
                <a class="nav-list-link" href="/panel">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns">
                        <path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18" />
                    </svg>
                    Panel
                </a>
            </li>
            <li class="nav-list-item">
                <a class="nav-list-link" href="/myOrders">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                        <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z" />
                        <polyline points="13 2 13 9 20 9" />
                    </svg>
                    My Orders
                </a>
            </li>
            <li class="nav-list-item">
                <a class="nav-list-link" href="/myProducts">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase">
                        <rect x="2" y="7" width="20" height="14" rx="2" ry="2" />
                        <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16" />
                    </svg>
                    My Products
                </a>
            </li>
            <li class="nav-list-item">
                <a class="nav-list-link" href="/profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
                        <circle cx="9" cy="7" r="4" />
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
                        <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                    </svg>
                    Profile
                </a>
            </li>
            <li class="nav-list-item">
                <a class="nav-list-link" href="/contact">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart">
                        <path d="M21.21 15.89A10 10 0 1 1 8 2.83" />
                        <path d="M22 12A10 10 0 0 0 12 2v10z" />
                    </svg>
                    Reports
                </a>
            </li>
        </ul>
    </div>
    <div class="app-main">
        <div class="main-header-line">
            <h1>My Panel</h1>
            <div class="action-buttons">
                <button class="open-right-area">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity">
                        <polyline points="22 12 18 12 15 21 9 3 6 12 2 12" />
                    </svg>
                </button>
                <button class="menu-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                        <line x1="3" y1="12" x2="21" y2="12" />
                        <line x1="3" y1="6" x2="21" y2="6" />
                        <line x1="3" y1="18" x2="21" y2="18" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="chart-row three">
            <div class="chart-container-wrapper">
                <div class="chart-container">
                    <div class="chart-info-wrapper">
                        <h2>My Orders</h2>
                        <span id="orderCount" th:text="${myOrderCount}"></span>                    </div>
                </div>
            </div>
            <div class="chart-container-wrapper">
                <div class="chart-container">
                    <div class="chart-info-wrapper">
                        <h2>My ID</h2>
                        <span id="userId" th:text="${userId}"></span>
                    </div>
                </div>
            </div>
            <<div class="chart-container-wrapper">
            <div class="chart-container">
                <div class="chart-info-wrapper">
                    <h2>My Customer ID</h2>
                    <span id="customerId" th:text="${customerId}"></span>
                </div>
            </div>
        </div>
        </div>
        <div class="chart-row two">
            <div class="chart-container-wrapper big">
                <div class="chart-container">
                    <div class="chart-container-header">
                        <div class="chart-container-wrapper">
                            <!-- aqui todos los products de mas vendidos a menos-->
                            <div class="chart-container">
                                <div class="chart-info wrapper">
                                    <p>Welcome <span id="username" th:text="${username}"></span></p>                                    <p>We're thrilled to have you here. This is your space to efficiently manage and optimize your online store. Explore your dashboard to access all the tools and resources you need to take your business to the next level. If you need assistance at any time, our support team is here to help.</p>
                                    <p>Thank you for trusting us, and we hope you have a successful and productive experience!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script th:inline="javascript">
            var userCountByRole = [[${userCountByRole}]];
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: Object.keys(userCountByRole),
                    datasets: [{
                        label: '# of Users',
                        data: Object.values(userCountByRole),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>
</body>