<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voltic Studios Shop</title>
    <link rel="stylesheet" href="https://cdn.joordih.lol/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/menu.css}">
    <link rel="stylesheet" th:href="@{/static/css/store.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<nav id="menu" class="left show">
    <div id="menu_img">
        <img th:src="@{/static/img/main_logo.png}" alt="logo" class="logo">
    </div>
    <ul>
        <li><a th:href="@{/}" class="active"><i class="fa fa-home active"></i>Home</a></li>
        <li><a th:href="@{/about}"><i class="fa-solid fa-circle-info"></i>About</a></li>
        <li>
            <a href="#"><i class="fa fa-shopping-cart"></i>Products <i class="fa fa-caret-down"></i></a>
            <ul style="display: block;" th:each="category : ${categories}">
                <li>
                    <a th:href="@{/products/__${category.id}__}">
                        <span th:class="${category.image}"></span> <span th:text="${category.name}"></span>
                    </a>
                </li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-phone"></i>Contact</a></li>
    </ul>
</nav>

<!-- contenido de pagina, realmente no importa -->
<div id="container">
    <div id="shopping-cart">
        <a href="#" class="cart">
            anonymousUser
            <i class="fa fa-user"></i>
        </a>
        <a href="#" class="cart"><i class="fa fa-shopping-cart"></i></a>
    </div>
    <div class="content">
        <img th:src="${product.image}" alt="logo" id="product-image">
        <div class="text-align-left">
            <h2 th:text="${product.name}"></h2>
            <div th:utext="${product.description}"></div>
            <p id="price" th:text="'Price: ' + ${product.price} + '€'"></p>
            <button class="btn" th:onclick="'addToCart(' + ${product.id} + ')'" th:text="'Add to cart'"></button>
        </div>
    </div>
    <div class="content cnt">
    </div>
</div>



<script th:src="@{/static/js/main.js}"></script>
<script>
    function addToCart(id) {
        location.href = "/api/cart/add/" + id;
    }
</script>
</body>

</html>